# Copyright (c) 2023 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_REGISTRY_STORAGE
    bool "MODULE_REGISTRY_STORAGE"
    depends on MODULE_REGISTRY
    help
        Storage module allowing to store configuration parameters to non-volatile storage.

if MODULE_REGISTRY_STORAGE

config MODULE_REGISTRY_STORAGE_HEAP
    bool "Heap storage"

endif # MODULE_REGISTRY_STORAGE