# Copyright (c) 2023 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_REGISTRY_NAMESPACE
    bool "REGISTRY_NAMESPACE"
    depends on MODULE_REGISTRY
    help
        Namespace module containing default namespaces for the RIOT Registry sys module.

if MODULE_REGISTRY_NAMESPACE

rsource "sys/Kconfig"
rsource "tests/Kconfig"

endif # MODULE_REGISTRY_NAMESPACE