# Copyright (c) 2023 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_REGISTRY_NAMESPACE_TESTS
    bool "REGISTRY_NAMESPACE_TESTS"
    depends on MODULE_REGISTRY
    help
        Namespace Tests module providing common testing configuration schemas for the RIOT Registry sys module.

if MODULE_REGISTRY_NAMESPACE_TESTS

config MODULE_REGISTRY_NAMESPACE_TESTS_FULL
    bool "Full schema"

endif # MODULE_REGISTRY_NAMESPACE_TESTS